.alignright {
	@apply float-right ml-4 mb-4;
}

.alignleft {
	@apply float-left mr-4 mb-4;
}

.aligncenter {
	@apply mx-auto;
}

img {
	@apply rounded;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}